{% extends "analyse/wifi.html" %}
{% load staticfiles %}

{% block section %}
<div class="container">
{%if apDown%}
<div class="panel panel-warning">
	<div class="panel-heading">Access Point down</div>
	<div class="panel-body">
    {%for ap in apDown%}
	<h4>{{ap.name}}</h4>
	<dl class="dl-horizontal">
		<dt>Mac Address</dt>
		<dd>{{ap.macAddress}}</dd>
		<dt>Last Time Seen</dt>
		<dd>{{ap.lastTouched}}</dd>
	</dl>
	{%endfor%}
	</div>
	</div>
</div>
{%else%}
<div class="alert alert-success">All Access Points are currently associated with the Controller</div>
{%endif%}

{%if hotAP%}
<div class="panel panel-warning">
	<div class="panel-heading">Busiest Access Points</div>
	<div class="panel-body">
	    {%for ap in hotAP%}
	    <h4>{{forloop.counter}}. {{ap.ap.name}}</h4>
		<dl class="dl-horizontal">
			<dt>Mac Address</dt>
			<dd>{{ap.ap.macAddress}}</dd>
			<dt>Overload</dt>
			<dd>{{ap.overload}}</dd>
		</dl>
		{%endfor%}
	</div>
	</div>
</div>
{%endif%}

</div>
{%endblock%}