{% extends "gatherer/logs.html" %}
{% load staticfiles %}
{% load gatherer_extra_tags %}

{%block logs%}
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Date</th>
			<th>DHCP Server</th>
			<th>Type</th>
			<th>IP</th>
			<th>Device</th>
		</tr>
	</thead>
	<tbody>
		{% for event in dhcpEvent %}
		<tr {% if event.dhcpType == 'ack' %}class="success"{% elif event.dhcpType == 'inf' %}class="info"{%elif event.dhcpType == 'dis' and event.message %}class="warning" data-toggle="tooltip" data-placement="bottom" title="{{event.message}}"{%elif event.dhcpType == 'log'%}class='info' data-toggle="tooltip" data-placement="bottom" title="{{event.message}}"{%endif%}>
			<th>{%if event.dhcpType == 'dis' and event.message %}<span class="glyphicon glyphicon-warning-sign"></span>{%endif%}</th>
			<td>{{event.date|date:"D d M Y H:i:s"}}:{{event.microsecond}}</td>
			<td>{{event.server}}</td>
			<td>{{event.get_dhcpType_display}}</td>
			<td>{{event.ip|default_if_none:"-"}}</td>
			<td>{{event.device}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<footer>
	{{dhcpEvent|length}} entr{{ dhcpEvent|pluralize:'y,ies' }}
	{%if dhcpEvent.paginator.num_pages > 1 %}
	<p class="text-center">Page {{ dhcpEvent.number }} of {{ dhcpEvent.paginator.num_pages }}</p>
	<ul class="pager">
		<li class="previous{%if not dhcpEvent.has_previous%} disabled{%endif%}"><a href="{%if dhcpEvent.has_previous%}{% url 'dhcplogs' dhcpEvent.previous_page_number %}{%else%}#{%endif%}">Newer</a></li>
		<li class="next{%if not dhcpEvent.has_next%} disabled{%endif%}"><a href="{%if dhcpEvent.has_next%}{% url 'dhcplogs' dhcpEvent.next_page_number %}{%else%}#{%endif%}">Older</a></li>
	</ul>
	{%endif%}
</footer>
{%endblock%}
