{% extends "common/base.html" %}
{% load staticfiles %}
{% load gatherer_extra_tags %}
{% block custCSS %}
<link href="{% static 'gatherer/css/index.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<ul class="nav nav-tabs">
	<li><a href="{% url 'index' %}">General</a></li>
	<li class="active"><a href="#">Logs</a></li>
	<li><a href="{% url 'snmp' %}">SNMP</a></li>
</ul>

<div class='row' style="margin-top: 2px;">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li {% if cat == 'dhcp' %}class="active"{%endif%}><a href="{% url 'dhcplogs' %}">DHCP</a></li>
			<li {% if cat == 'radius' %}class="active"{%endif%}><a href="{% url 'radiuslogs' %}">Radius</a></li>
			<li {% if cat == 'wism' %}class="active"{%endif%}><a href="{% url 'wismlogs' %}">Wism</a></li>
		</ul>
	</div>

	<div class="col-md-10">
		{%block logs%}

		
		{%endblock%}
	</div>

</div>


{% endblock %}