{% extends "common/base.html" %}
{% load staticfiles %}

{% block custCSS %}
<link href="{% static 'gatherer/css/index.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="tabbable">
	<ul class="nav nav-tabs">
		<li><a href="{% url 'index' %}">General</a></li>
		<li><a href="{% url 'logs' %}">Logs</a></li>
		<li class="active"><a href="#">SNMP</a></li>
	</ul>
</div> <!-- /container -->

<div class='row'>
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li {% if cat == 'ap' %}class="active"{%endif%}><a href="{% url 'apsnmp' %}">Access Point</a></li>
      <li {% if cat == 'ms' %}class="active"{%endif%}><a href="{% url 'mssnmp' %}">Mobile Station</a></li>
      <li {% if cat == 'rap' %}class="active"{%endif%}><a href="{% url 'rapsnmp' %}">Rogue AP</a></li>
    </ul>
  </div>
  <div class="col-md-10">
  {%block category%}

  {%endblock%}
  </div>
</div>

{% endblock %}